ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__Default=Server=localhost;Database=PetShopDbb;Trusted_Connection=True;TrustServerCertificate=True;Connect Timeout=60
Jwt__Key=CHANGE_ME_STRONG_SECRET_KEY_MIN_32_CHARS
Jwt__Issuer=PetShopAPI
Jwt__Audience=PetShopClient
Jwt__ExpireMinutes=1440
ApiKeys__Gemini=CHANGE_ME_GEMINI_API_KEY
EmailSettings__SmtpServer=smtp.gmail.com
EmailSettings__SmtpPort=587
EmailSettings__SmtpUsername=CHANGE_ME_SMTP_USERNAME
EmailSettings__SmtpPassword=CHANGE_ME_SMTP_APP_PASSWORD
EmailSettings__FromEmail=CHANGE_ME_FROM_EMAIL
EmailSettings__FromName=Petivo
EmailSettings__EnableSsl=true
EmailSettings__FrontendUrl=http://localhost:5173
MoMo__PartnerCode=MOMO
MoMo__AccessKey=CHANGE_ME_MOMO_ACCESS_KEY
MoMo__SecretKey=CHANGE_ME_MOMO_SECRET_KEY
MoMo__Endpoint=https://test-payment.momo.vn/v2/gateway/api/create
MoMo__ReturnUrl=http://localhost:5173/payment/momo/callback
MoMo__IpnUrl=http://localhost:5200/api/payment/callback/momo
VITE_API_BASE_URL=http://localhost:5200
